@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

/* Footer */
footer{
  background-color: #F3F7FF;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #121214;
}

/* header */
header{
  background-image: url(../image/image-michael-jordan.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.headerContainer{
  max-width: 1216px;
  margin: auto;
}

.headerContent{
  max-width: 557px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 95px 0px;
}

.logo{
  width: 203px;
}

.headerTitle{
  font-size: 32px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.headerInfo{
  font-size: 24px;
  line-height: 33.6px;
  color: #FFFFFF;
}

/* main */
main{
  margin-top: 72px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  background-color: #FFFFFF;
}

.mainContainer{
  width: 1216px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainIntro{
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 593px;
  text-align: center;
  margin-bottom: 72px;
}

.mainTitulo{
  color: #121214;
  font-size: 32px;
  font-weight: 600;
}

.mainIntrudução{
  color: #121214;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
}

.mainProdutos{
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 32px;
}

.imagemProduto{
  padding: 32.5px min(26%, 79.5px);
  background-color: #F3F7FF;
  width: auto;
  height: auto;
}

.produtoContainer a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.prudutoCardInfo{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.NomeLinhaProduto{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.produtoNome{
  color: #121214;
  font-size: 18px;
  font-weight: 500;
  line-height: 23.4px;
}

.produtoLinha{
  color: #7CA2F4;
  font-size: 16px;
  font-weight: 500;
}

.prudutoCardPrecoCompra{
  display: flex;
  justify-content: space-between;
}

.produtoCardPreco{
  font-family: "Space Grotesk", serif;
  color: #121214;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 1247px) {
  .padingResponsivo{
    padding-inline: 1px;
  }
}

@media (max-width: 1246px) {
  .padingResponsivo{
    padding-inline: 2px;
  }
}

@media (max-width: 1245px) {
  .padingResponsivo{
    padding-inline: 3px;
  }
}

@media (max-width: 1244px) {
  .padingResponsivo{
    padding-inline: 4px;
  }
}

@media (max-width: 1243px) {
  .padingResponsivo{
    padding-inline: 5px;
  }
}

@media (max-width: 1242px) {
  .padingResponsivo{
    padding-inline: 6px;
  }
}

@media (max-width: 1241px) {
  .padingResponsivo{
    padding-inline: 7px;
  }
}

@media (max-width: 1240px) {
  .padingResponsivo{
    padding-inline: 8px;
  }
}

@media (max-width: 1239px) {
  .padingResponsivo{
    padding-inline: 9px;
  }
}

@media (max-width: 1238px) {
  .padingResponsivo{
    padding-inline: 10px;
  }
}

@media (max-width: 1237px) {
  .padingResponsivo{
    padding-inline: 11px;
  }
}

@media (max-width: 1236px) {
  .padingResponsivo{
    padding-inline: 12px;
  }
}

@media (max-width: 1235px) {
  .padingResponsivo{
    padding-inline: 13px;
  }
}

@media (max-width: 1234px) {
  .padingResponsivo{
    padding-inline: 14px;
  }
}

@media (max-width: 1233px) {
  .padingResponsivo{
    padding-inline: 0px 15px;
  }
}

@media (max-width: 1232px) {
  .padingResponsivo{
    padding-inline: 16px;
  }
}

@media (max-width: 1231px) {
  .padingResponsivo{
    padding-inline: 17px;
  }
}

@media (max-width: 1230px) {
  .padingResponsivo{
    padding-inline: 18px;
  }
}

@media (max-width: 1229px) {
  .padingResponsivo{
    padding-inline: 19px;
  }
}

@media (max-width: 1228px) {
  .padingResponsivo{
    padding-inline: 20px;
  }
}

@media (max-width: 1227px) {
  .padingResponsivo{
    padding-inline: 21px;
  }
}

@media (max-width: 1226px) {
  .padingResponsivo{
    padding-inline: 22px;
  }
}

@media (max-width: 1225px) {
  .padingResponsivo{
    padding-inline: 22px;
  }
}

@media (max-width: 1224px) {
  .padingResponsivo{
    padding-inline: 23px;
  }
}

@media (max-width: 1223px) {
  .padingResponsivo{
    padding-inline: 24px;
  }
}

@media (max-width: 1222px) {
  .padingResponsivo{
    padding-inline: 25px;
  }
}

@media (max-width: 1221px) {
  .padingResponsivo{
    padding-inline: 26px;
  }
}

@media (max-width: 1220px) {
  .padingResponsivo{
    padding-inline: 27px;
  }
}

@media (max-width: 1219px) {
  .padingResponsivo{
    padding-inline: 28px;
  }
}

@media (max-width: 1218px) {
  .padingResponsivo{
    padding-inline: 29px;
  }
}

@media (max-width: 1217px) {
  .padingResponsivo{
    padding-inline: 30px;
  }
}

@media (max-width: 1216px) {
  .padingResponsivo{
    padding-inline: 31px;
  }
}

@media (max-width: 1215px) {
  .padingResponsivo{
    padding-inline: 32px;
  }
}

@media (max-width: 870px) {
  footer{
    font-size: 16px;
  }

  .logo{
    width: 142px;
  }

  .headerTitle{
    font-size: 24px;
  }
  
  .headerInfo{
    font-size: 18px;
    line-height: 25.2px;
  }

  .mainTitulo{
    font-size: 24px;
  }
  
  .mainIntrudução{
    font-size: 16px;
    line-height: 22.4px;
  }
}

@media (max-width: 982px) {
  .mainProdutos{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 32px;
  }
}

@media (max-width: 575px) {
  .mainProdutos{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
    gap: 32px;
  }
}

@media (max-width: 500px) {
  footer{
    font-size: 14px;
  }
  
  .headerInfo{
    font-size: 16px;
    line-height: 22.4px;
  }

  .mainTitulo{
    font-size: 20px;
  }
  
  .mainIntrudução{
    font-size: 14px;
    line-height: 19.6px;
  }

  .produtoNome{
    font-size: 16px;
  }
}