@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

/* Footer */
footer{
  background-color: #F3F7FF;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #121214;
}

/* header */
header{
  background-image: url(../image/image-michael-jordan.png);
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}

.headerContainer{
  max-width: 1216px;
  margin: auto;
}

.headerContent{
  min-width: 328px;
  max-width: 557px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 90px 0px;
}

.logo{
  width: 203px;
}

.headerTitle{
  font-size: 32px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.headerInfo{
  font-size: 24px;
  line-height: 33.6px;
  color: #FFFFFF;
}

/* main */
main{
  margin-top: 72px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  background-color: #FFFFFF;
}

.mainContainer{
  width: 1216px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainIntro{
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 593px;
  text-align: center;
  margin-bottom: 72px;
}

.mainTitulo{
  color: #121214;
  font-size: 32px;
  font-weight: 600;
}

.mainIntrudução{
  color: #121214;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
}

.mainProdutos{
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 32px;
}

.imagemProduto{
  padding: 32px 79px;
  background-color: #F3F7FF;
}

.produtoContainer a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.prudutoCardInfo{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.NomeLinhaProduto{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.produtoNome{
  color: #121214;
  font-size: 18px;
  font-weight: 500;
}

.produtoLinha{
  color: #7CA2F4;
  font-size: 16px;
  font-weight: 500;
}

.prudutoCardPrecoCompra{
  display: flex;
  justify-content: space-between;
}

.produtoCardPreco{
  font-family: "Space Grotesk", serif;
  color: #121214;
  font-size: 20px;
  font-weight: 500;
}